<div class="col-sm-10 col-md-8 col-lg-8 mx-auto">
  <h1 class="text-center">Pricing</h1>
  <p>Lym Photography custom portrait sessions are designed for you and your family: I am available to meet at a park, your home, your favorite ice cream shop, or anywhere else that is meaningful to you or your family.
  </p>

  <p>Each session begins with a consultation to make sure that the session is unique to you and your family and reflects the best of your family’s personality. We will then have fun together until we have at least 50 edited, high-resolution images for
    you to view in a private online gallery. Session fees start at $220, and a number of packages are available to reflect your needs.</p>

  <p>Please <%= link_to "email LymPhotography@gmail.com", contacts_path  %> if you are interested in a session.</p>
</div>
