<div class="col-sm-12 col-md-6 mx-auto">

<h1 class="text-center">Albums</h1>

    <% Array(@albums).each do |album| %>

        <%= link_to album.title, album, class: "text-center d-block"  %><br>
        <%= link_to image_tag(album.photos.find(album.cover_photo).image.url(:thumb)), album,
         class: "text-center d-block" %>
        <br>
        <% if !current_user.nil? && current_user.admin?%>
        <%= link_to 'Edit', edit_album_path(album), class: "text-center d-block" %>
        <%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' },
         class: "text-center d-block" %>
        <% end %>
        <br>
    <% end %>

<br>
</div>
