 @import "bootstrap";
 @import "custom";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require md_simple_editor
 */

 $sans : 100% Source Sans Pro, sans-serif;

body{
   font-family: $sans
}
 img{

 }

 .nav-style{
   background: -moz-linear-gradient(left, rgba(148,211,224,0.64) 0%, rgba(148,211,224,0.65) 2%, rgba(255,255,255,0.83) 53%, rgba(255,255,255,1) 100%);
   background: -webkit-linear-gradient(left, rgba(148,211,224,0.64) 0%,rgba(148,211,224,0.65) 2%,rgba(255,255,255,0.83) 53%,rgba(255,255,255,1) 100%);
   background: linear-gradient(to right, rgba(148,211,224,0.64) 0%,rgba(148,211,224,0.65) 2%,rgba(255,255,255,0.83) 53%,rgba(255,255,255,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a394d3e0', endColorstr='#ffffff',GradientType=1 );
   color: white;
 }

 p{
    font-family: $sans;
 }

 .sans {
   font-family: $sans;
   font-size: 24px;
 }

 .shadow{
   -webkit-box-shadow: 4px 6px 22px 4px rgba(0,0,0,0.15);
   -moz-box-shadow: 4px 6px 22px 4px rgba(0,0,0,0.15);
   box-shadow: 4px 6px 22px 4px rgba(0,0,0,0.15);
 }

 .shadow-nh{
   -webkit-box-shadow: 4px 6px 22px 4px rgba(0,0,0,0.15);
   -moz-box-shadow: 4px 6px 22px 4px rgba(0,0,0,0.15);
   box-shadow: 4px 6px 22px 4px rgba(0,0,0,0.15);
 }

 .shadow:hover {
   -webkit-box-shadow: 4px 6px 22px 4px rgba(0,0,0,0.30);
   -moz-box-shadow: 4px 6px 22px 4px rgba(0,0,0,0.30);
   box-shadow: 4px 6px 22px 4px rgba(0,0,0,0.30);
 }

 .cursive{
   font-family: 'Homemade Apple', cursive;
   font-size: larger;
 }

 #brand{
   margin-left: 20px;
 }
h1,h2{
  font-family: 'Source Sans Pro', sans-serif;
}

.sans{
  font-family: 'Source Sans Pro', sans-serif;
}

.settings-card{
  max-height: 100%;
  max-width: 100%;
  padding: 20px;
}

.settings-card:hover{
  position: relative;
  top: -5px;
}

.border {
  border-radius: 10px;
  border: 2px solid #73AD21;
}

form{

}
